@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: url("https://wallpapers.com/images/hd/4k-nature-small-dock-o8gii5jx7l2ta6p4.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

/* Navigation Bar Start */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
}
.nasa-logo{
    height: 75px;
    width:75px;
    margin-left: 2px;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.4),
            transparent);
    transition: 0.5s;
}

.header:hover::before {
    left: 100%;
}

.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover {
    color: rgb(40, 140, 255);
}

#menu-icon {
    font-size: 36px;
    color: #fff;
    display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.25rem 4%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.5rem 4%;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: grid;
        justify-content: center;
        margin: 1.5rem 0;
    }

    .nav-bg {
        position: absolute;
        top: 79px;
        left: 0;
        width: 100%;
        height: 295px;
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }

    .nav-bg.active {
        display: block;
    }
}

/* Navigation Bar End */

img {
    width: 100%;
    display: block;
}

.parallax__container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #000000;
}

.parallax__container::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.parallax__container img {
    position: absolute;
}

.parallax__container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 900;
}

.about {
    min-height: 125vh;
    background-color: #000000;
    display: grid;
    place-content: center;
}

.image__gallary {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.image__card {
    opacity: 0;
    transform: rotate(90deg);
}

.image__card img {
    border-radius: 1rem;
}

.details {
    max-width: 800px;
    margin: auto;
    margin-top: 8rem;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}

.footer__btn {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.learn__more {
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
}

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}